
:root {
	--color-white: #dddada;
	--color-yellow: #F4C500;
	--color-a: rgba(50, 50, 80, 0.6);
	--color-white-2: #ededed;

	--color-main: #090a29;
	--color-second: #131439;

	--vt-c-indigo: #2c3e50;
	--color-yellow-second: #d6ac04;
}
:root {
    --color-bg: var(--color-main);

}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
		--color-background-soft: var(--vt-c-black-soft);
		--color-background-mute: var(--vt-c-black-mute);

		--color-border: var(--vt-c-divider-dark-2);
		--color-border-hover: var(--vt-c-divider-dark-1);

		--color-heading: var(--vt-c-text-dark-1);
		--color-text: var(--vt-c-text-dark-2);
	}
} */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	/* font-weight: normal; */
}

body {
	/* min-height: 100vh; */
	max-height: 100vh;
	color: var(--color-white-2);
	background: var(--color-bg);
	/* background-color: var(--color-black); */
}
